<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myWeb/style1.css' %}">
</head>
<body>
<div class="flip-card">
  <div class="flip-card-content">
    <div class="flip-card-front">
      <img src="{% static 'images/Home_icon.png' %}" id="logo">
      <form method="post">
        <h1 id="title">Log In</h1>
        <div class="input">
        {%csrf_token%}
        {{form.visible_fields.0}}
      </br>
        {{form.visible_fields.1}}
      </div>
      {% if Error%}
      <p style="color:#ff0000">Sorry, we couldn't find your account</p>
      {% else %}
      <p></p>
      {% endif %}
      <input type="submit" value="Submit" name="loginSubmit">
    </form>
    <p class="sub">Don't have an Account ? <button id="butt1">Sign Up</button></p>
      </div>
      <div class="flip-card-back">
      <p>power</p>
      </br>
      <p>Testing</p>
    </div>
</div>
</div>
<script>

document.getElementById("butt1").onclick = function(){flip()};
function flip(){
  var card = document.getElementsByClassName("flip-card")[0];
  card.classList.toggle("flip");
}

</script>
</body>
</html>
