<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class = 'form-group'>
  <fieldset class=form-group>
    <legend> Log in </legend>
<form method="post">
    {{form.non_field_errors }}
    {% csrf_token %}
    <table>
    {{form.visible_fields.0.label}}
    {{form.visible_fields.0}}
    <br/>
    {{form.visible_fields.1.label}}
    {{form.visible_fields.1}}
  </table>
  </fieldset>
    <p>Don't have an Account ? <a href='register'>Sign Up</a></p>
</div>
    <input type="submit" value="Submit">
</form>
</body>
</html>
